@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sunrise {
    @apply bg-gradient-to-b from-outrageous-orange to-frostbite;
  }

  .sunset {
    @apply bg-gradient-to-b from-blue-ryb to-frostbite;
  }

  .snow {
    @apply bg-gradient-to-b from-white to-magnolia;
  }
}

@layer components {
  .btn-main {
    @apply sunrise w-[167px] h-[56px] desktop:h-[63px] hover:opacity-50 text-white rounded-[31.5px] font-sans font-bold text-[16px] leading-[26px] desktop:text-lg transition-opacity;
  }

  .btn-footer {
    @apply sunset w-[140px] h-[48px] desktop:w-[167px] desktop:h-[56px] text-white rounded-[28px] font-sans font-bold text-[16px] leading-[28px] desktop:text-lg hover:bg-footer-fade;
  }

  .btn-nav {
    @apply bg-space-cadet w-[140px] h-[48px] desktop:w-[167px] desktop:h-[56px] text-white rounded-[28px] font-sans font-bold text-[16px] leading-[28px] desktop:text-lg hover:bg-[#666CA3] relative z-50;
  }
}

.icon-animation {
  background: url(./assets/icon-animation.svg);
}

.icon-business {
  background: url(./assets/icon-business.svg);
}

.icon-crypto {
  background: url(./assets/icon-crypto.svg);
}

.icon-design {
  background: url(./assets/icon-design.svg);
}

.icon-photography {
  background: url(./assets/icon-photography.svg);
}
